header, footer, #wrapper {
    background-color: #ffcccc;
        width: 1000px;
        margin: 0;
}
#wrapper {
    width: 1000px;
    overflow: hidden;
    display: flex;
  }
#main{
    width: 700px;
  background-color: #ccffcc;
  float: left; /* ← 左に寄せる */
}
#menu{
    width: 300px;
    background-color: #ccccff;
    float: left; /* ← 右に寄せる */
}
footer{
    width: 1000px;
    background-color: #ffccff;
    clear: both;
}
